<config>
  <!-- Client Control -->
  <fold-anon v='true'/>

  <!-- Folding Slot Configuration -->
  <gpu v='false'/>

  <!-- Network -->
  <proxy v=':8080'/>

  <!-- User Information -->
  <team v='251820'/>
  <user v='XXX'/>

  <!-- Folding Slots -->
  <slot id='0' type='CPU'/>
  <slot id='1' type='GPU'/>  
</config>
